html,
body {
    height: 100%;
    font-family: 'Trirong', serif;
    /*background-color:#e4e6f7;*/
    background-color:/*#e8f2fc*/#efdcec;
}

.wrap {
    font-family: 'Trirong', serif;
    font-size:1.3vw;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.meenny{
    font-family: 'Trirong', serif;
    font-size:1.3vw;
}

/* .breadcrumb li a{
    color:red;
}

.breadcrumb > .active {
    color:black;
} */
.panel-title{
    color:white;
    font-size:1.8vw; 
    text-shadow: black 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#w2{  
   
    font-size:1.3vw;
}

#w3,#w4,#w5{  
   
    font-size:1.3vw;
}


.navbar {
    /*background-color:*/ /*#00468b*//*003ab3*//*#0049b3*/background-image: linear-gradient(to right, #f4e8ef ,#a657af,#a657af,#a657af ,#bb7fc2);
    border-image: /*#003480*/linear-gradient(to right, #f4e8ef ,#a657af,#a657af,#a657af ,#bb7fc2);
    font-family: 'Trirong', serif;
    color:white;
}



.navbar-brand>img {
    height: 100%;
    padding:0px; /* firefox bug fix */
    width: auto;
  }

.navbar .navbar-brand {
    color: white;
    font-size:1.5vw;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 0px;
}
/* เวลาย่อหน้าจอ--------------------------------*/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #783c7e;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {         /* สีของเส้นกั้นระหว่างnavbarกับพื้นหลัง เมื่อกดเปิด navbar*/
    border-color: #783c7e;
}

/*---- navbar กระพริบสี-----------------------------*/
.navbar-nav li a:hover,.navbar-nav li a:focus, .navbar-nav li.active a {
    color: white !important;
    background-color: #783c7e !important;
}

/*------dropdown hi-light -------------------------*/
.navbar-nav li ul li a:hover,.navbar-nav li ul li.active a{
    background-color: #a657af !important;
}

@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white !important;
        
    }

    .navbar-inverse .navbar-nav > li > a {
        color: black !important;  
    }

    .navbar-nav li a:hover,.navbar-nav li a:focus, .navbar-nav li.active a {
        color: white !important;
        background-color: #783c7e !important;
    }

    
    #w2,#w3{  
        background-color:#a657af;
        
    }

    .navbar-nav li ul li a:hover,.navbar-nav li ul li.active a{
        background-color: #783c7e !important;
        color:white !important;
    }
}
/*เมื่อเปิด navbar dropdown จะเปลี่ยนสี---------------------------------------------*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #783c7e;
}
/*------ก่อนกระพริบ-----------------------------------------------*/
.navbar-inverse .navbar-nav > li > a {
    color: white;  
   
}

.wrap > .container {
    
    padding: 70px 15px 20px;
}

.footer {
    color:black;
    font-family: 'Trirong', serif;
    font-size: 1.2vw;
    height: 60px;
    background-color:#d3d3d3;
    text-shadow: white 0.1em 0.1em 0.2em; 
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* pan------------------------------------------------*/
.panel-body-pan{
    background-color: #e5f6bf;
    color:black; 
    font-size:1.3vw; 
    font-family: 'Trirong', serif;
}
.in-box-pan{
    font-family: 'Trirong', serif;
    font-size:1.22vw;
    color:#1f3348;
}


/*--donate-----------------------------------------*/
#donate-title{
    color:#373b41;
    font-size:2vw;
    text-shadow: white 0.1em 0.1em 0.2em; 
}

#donate-h{
    
    font-size:1.5vw;
    color:#0049b3;
}

#donate-b{
    font-size:1.5vw;
    color:#3366ff;

}
#donate-name{
    font-size:1.5vw;
    color:#4A4F55;
}

#donate-img{
    margin:2vw;
}

#donate-num{
    font-size:1.5vw;
    color:#4A4F55;
}
#donate-l{
    font-size:1.4vw;
    color:#4A4F55;
}

#donate-final{
    font-size:1.2vw;
    color:#ff4c4c;
}

#donate-thanks{
    font-family: 'Srisakdi', cursive;
    font-size:1.5vw;
    color: /*#b39700*/#0049b3;
    text-shadow:  #b8b8b8 0.1em 0.1em 0.2em; 
}
/* -formm------------------------------------------*/
.panel-body-index-form{
  
    background-color: #eeeeee;
    color:black; 
    font-size:1.4vw; 
    font-family: 'Trirong', serif;
}
.box-form{
    background-color: /*#d8e1fa*/#ece3f5;
}
.in-box-form{
    background-color:/*#ccdbe9*/red;
}

.h-box-form{
    font-family: 'Trirong', serif;
    font-size:1.25vw;
    color:#082442;
}

#form{
    font-size:1.22vw;
    line-height: 2vw;
    color:#4a4a4a;
    font-family: 'Trirong', serif;
}
/* detail-news---------------------------------------*/
.h-box-details{
    font-family: 'Trirong', serif;
    font-size:1.4vw;
    color:#1a5389;
}
#date-details{
    font-family: 'Trirong', serif;
    font-size:1.24vw;
    color: #464646;
    
}
.detail-header{
    
    padding-bottom: 15px;
   
}

.in-box-details{
    font-family: 'Trirong', serif;
    font-size:1.3vw;
    color:#323232;
}

/* index-news----------------------------------------*/
.img-news{
    width:18vw; 
    
}

#panel-index-news{
    border: 1px solid #c4b2ff;
    font-family: 'Trirong', serif;
}

#panel-head-index-news{
    background-color: #c4b2ff;
    
}

#panel-title-index-news{
    color:#082442;
    font-size:1.4vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

.panel-body-index-news{
  
    background-color: #eaeaea;
    color:black; 
    font-size:1.4vw; 
    font-family: 'Trirong', serif;
}

.padnews{
    margin:1vw;
}

.box-news{
    background-color: #ebf0ff;
    
}

.in-box-news{
    font-family: 'Trirong', serif;
    font-size:1.2vw;
}

.h-box-news{
    font-family: 'Trirong', serif;
    font-size:1.2vw;
    color:#340051;
}

.button-news{
    border-radius: 10px;
    background-color: #c4b2ff; 
    border: 1px solid#c4b2ff;
    color:black;
}

.button-news-pr{
    border-radius: 10px;
}

/* index-article----------------------------------------*/

#panel-index-article{
    border: 1px solid #d7b2ff;
    font-family: 'Trirong', serif;
}

#panel-head-index-article{
    background-color: #d7b2ff;
    
}

#panel-title-index-article{
    color:#082442;
    font-size:1.4vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

.panel-body-index-article{
  
    background-color: #eaeaea;
    color:black; 
    font-size:1.4vw; 
    font-family: 'Trirong', serif;
}

.box-article{
    background-color: #ece3f5;
}

.in-box-article{
    font-family: 'Trirong', serif;
    font-size:1.2vw;
}

.h-box-article{
    font-family: 'Trirong', serif;
    font-size:1.22vw;
    color:#082442;
}

.button-article{
    border-radius: 10px;
    background-color: #d7b2ff; 
    border: 1px solid /*#e0acff*/#d7b2ff;
    color:black;
}

.button-article-pr{
    border-radius: 10px;
}


/* index-calendar -----------------------------------*/

#panel-index-calendar{
    border: 1px solid #e4b2ff;
    font-family: 'Trirong', serif;
    
}

#panel-head-index-calendar{
    background-color: #e4b2ff;
    
}

#panel-title-index-calendar{
    color: #082442;
    font-size:1.5vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#panel-body-index-calendar{
  
    background-color: #ece3f5;
    color:black; 
    font-size:1.3vw; 
    font-family: 'Trirong', serif;
}
/*- --Project-------------------------------------------*/
#project a {
    color: #1f3348;
    line-height: 33px;
    text-decoration: none
}
/* About-----------------------------------------------*/

.box-about{
    background-color: #f1f1f1;
    border-top: 5px solid #8c407f;
}

.h-box-about{
    font-family: 'Trirong', serif;
    font-size:1.5vw;
    color:#713467;
}

.in-box-about{
    font-family: 'Trirong', serif;
    font-size:1.26vw;
    color:#2e152a;
}

.link-about{
    color:#713467;
    text-decoration:none; 
    font-weight: bold;
}

.link-h-about{
    color:#713467;
    font-size:1.5vw;
}
a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

/* contact---------------------------------------------------*/

#panel-head-contact{
    /*background-color: #ff2e7f;*/
    font-family: 'Trirong', serif;
    background-color: #c4b6c5;
    border-color: #c4b6c5;
}

#panel-title-contact{
    color:black;
    font-size:1.4vw; 
    text-shadow: white 0.1em 0.1em 0.2em;
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#panel-contact{
    
    font-family: 'Trirong', serif;
    border-color:#c4b6c5;
}

.panel-body-contact,.panel-body-contact2{
    
    background-color:#efdcec;
    color:black; 
    font-size:1.35vw; 
    font-family: 'Trirong', serif;
}

.panel-body-contact{
    padding:2vw;
}


.map{
    font-size:1.2vw;
}

/*------------------------------------------------------------*/
 .breadcrumb li a{
    color:#a74c82;
}


