html,
body {
    height: 100%;
    font-family: 'Trirong', serif;
    background-color:#d9e4ef;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    font-family: 'Trirong', serif;
    font-size:1.3vw; 
}

/* .breadcrumb li a{
    color:red;
}

.breadcrumb > .active {
    color:black;
} */


#w2,#w3{  
   
    font-size:1.3vw;
}

.navbar {
    background-color: #375a7f;
    border-color: #1967be;
    font-family: 'Trirong', serif;
    color:white;
}

.navbar-brand{
    font-size:1.5vw;
    font-family: 'Trirong', serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 0px; /* firefox bug fix */
}

.navbar-brand>img {
    height: 100%;
    padding:0px; /* firefox bug fix */
    width: auto;
  }

.navbar .navbar-brand {
    color: white;
    font-size:1.5vw;
    text-shadow: black 0.1em 0.1em 0.2em;
}
/* เวลาย่อหน้าจอ--------------------------------*/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1967be;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {         /* สีของเส้นกั้นระหว่างnavbarกับพื้นหลัง เมื่อกดเปิด navbar*/
    border-color: #1967be;
}

/*---- navbar กระพริบสี-----------------------------*/
.navbar-nav li a:hover,.navbar-nav li a:focus, .navbar-nav li.active a {
    color: white !important;
    background-color: #28415b !important;
}

/*------dropdown hi-light -------------------------*/
.navbar-nav li ul li a:hover,.navbar-nav li ul li.active a{
    background-color: #375a7f !important;
}

@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
        
    }
    #w2{  
        background-color:#2780e3;
        
    }

    .navbar-nav li ul li a:hover,.navbar-nav li ul li.active a{
        background-color: #1967be !important;
    }
}
/*เมื่อเปิด navbar dropdown จะเปลี่ยนสี---------------------------------------------*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #28415b;
}
/*------ก่อนกระพริบ-----------------------------------------------*/
.navbar-inverse .navbar-nav > li > a {
    color: white;  
   
}

.wrap > .container {
    
    padding: 70px 15px 20px;
}

.footer {
    color:black;
    font-family: 'Trirong', serif;
    font-size: 1.3vw;
    height: 60px;
    background-color:#d3d3d3;
    text-shadow: white 0.1em 0.1em 0.2em; 
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* index-news----------------------------------------*/
.img-news{
    width:18vw; 
    
}

#panel-index-news{
    border: 1px solid #80b5ef;
    font-family: 'Trirong', serif;
}

#panel-head-index-news{
    background-color: #80b5ef;
    
}

#panel-title-index-news{
    color:#082442;
    font-size:1.4vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

.panel-body-index-news{
  
    background-color: #eaeaea;
    color:black; 
    font-size:1.4vw; 
    font-family: 'Trirong', serif;
}

.padnews{
    margin:1vw;
}

.box-news{
    background-color: #e8f2fc;
    
}

.in-box-news{
    font-family: 'Trirong', serif;
    font-size:1.2vw;
}

.h-box-news{
    font-family: 'Trirong', serif;
    font-size:1.2vw;
    color:#155ca9;
}

.button-news{
    border-radius: 10px;
    background-color: #80b5ef; 
    border: 1px solid#80b5ef;
    color:black;
}

.button-news-pr{
    border-radius: 10px;
}

/* index-calendar -----------------------------------*/

#panel-index-calendar{
    border: 1px solid #80d1ef;
    font-family: 'Trirong', serif;
    margin-bottom:3vw;
    
}

#panel-head-index-calendar{
    background-color: #80d1ef;
    
}

#panel-title-index-calendar{
    color: #082442;
    font-size:1.5vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#panel-body-index-calendar{
  
    background-color: #d7f1fa;
    color:black; 
    font-size:1.3vw; 
    font-family: 'Trirong', serif;
}
/* About-----------------------------------------------*/

.normaltext{
	margin-top:8px;
}

#panel-title-about{
    color:white;
    font-size:1.5vw; 
    /*text-shadow: black 0.1em 0.1em 0.2em; */
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#about1{
    border-color:#4778aa;
}

#head-about1{
    background-color:#4778aa;
}

.about-img{
	margin-top:1vw; 
	margin-bottom:1.2vw; 
	margin-left:0.5vw; 
	margin-right:2vw; 
	width:14vw;
}

.panel-body-about{
    background-color: #e7eef5;
    color:black; 
    font-size:1.3vw; 
    font-family: 'Trirong', serif;
}
/* contact---------------------------------------------------*/

#panel-head-contact{
    /*background-color: #ff2e7f;*/
    font-family: 'Trirong', serif;
    background-color: #a8c1da;
    border-color: #a8c1da;
}

#panel-title-contact{
    color:black;
    font-size:1.5vw; 
    text-shadow: white 0.1em 0.1em 0.2em; 
    font-family: 'Trirong', serif; 
    padding-left:10px;
}

#panel-contact{
    
    font-family: 'Trirong', serif;
    border-color:#a8c1da;
}

.panel-body-contact,.panel-body-contact2{
    
    background-color:#e8f2fc;
    color:black; 
    font-size:1.35vw; 
    font-family: 'Trirong', serif;
}

.panel-body-contact{
    padding:2vw;
}


.map{
    font-size:1.2vw;
}

/*------------------------------------------------------------*/
