html,
body {
    height: 100%;
    font-family: 'Trirong', serif;
    background-color:#e8f2fc
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    font-family: 'Trirong', serif;
    font-size:1.3vw; 
}

#w2{  
    background-color:white;
    font-size:1.3vw;
}

.navbar {
    background-color: #2780e3;
    border-color: #1967be;
    font-family: 'Trirong', serif;
    color:white;
}

.navbar .navbar-brand {
    color: white;
}
/* เวลาย่อหน้าจอ--------------------------------*/
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1967be;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {         /* สีของเส้นกั้นระหว่างnavbarกับพื้นหลัง เมื่อกดเปิด navbar*/
    border-color: #1967be;
}
/*---------------------------------------------*/

.navbar .navbar-brand{
    font-size:1.5vw;
    text-shadow: black 0.1em 0.1em 0.2em;
}
/*---- navbar กระพริบสี-----------------------------*/
.navbar-nav li a:hover,.navbar-nav li a:focus, .navbar-nav li.active a {
    color: white !important;
    background-color: #1967be !important;
}

/*------dropdown hi-light -------------------------*/
.navbar-nav li ul li a:hover,.navbar-nav li ul li.active a{
    background-color: #2780e3 !important;
}

@media (max-width: 767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: black;
    }
}
/*เมื่อเปิด navbar dropdown จะเปลี่ยนสี---------------------------------------------*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1967be;
}
/*------ก่อนกระพริบ-----------------------------------------------*/
.navbar-inverse .navbar-nav > li > a {
    color: white;  
}

.wrap > .container {
    
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
